<header class="w3-top">
    <div class="w3-bar header w3-card w3-large">
        <div class="w3-hide-large w3-hide-medium w3-bar-item"><i class="fas fa-bars"></i></div>
        <a href="\" class="w3-bar-item w3-button"><img src="/images/logo.png" height="23px" width="20px" alt="Website Logo"> Solidity Games</a>
        <span id="dayNightBtn" >
          <button title="Day Mode" class="w3-right w3-bar-item w3-button" onclick="toggleDayNight('day')"><i class="fas fa-sun" aria-hidden="true"></i></button>
        </span>
        <div class="w3-hide-small">
            <div id="etherBalance" class="w3-bar-item w3-right"></div>
            <div id="etherNetwork" class="w3-bar-item w3-right"></div>
        </div>
    </div>
</header>