<header id="header" class="w3-row header w3-card">
    <div class="w3-col" style="width:55px">
        <a href="\"><img src="/images/logo.png" height="60px" width="60px" alt="Website Logo"></a>
    </div>
    <div class="w3-col w3-right w3-container w3-padding" style="width:75px">
        <span id="dayNightBtn" class="w3-right w3-large">
            <div class="w3-card-2 w3-button secondary" title="Day Mode" onclick="toggleDayNight('night')"><i class="far fa-moon" aria-hidden="true"></i></div>
        </span>
    </div>
</header>