<div class="w3-bar-item" style="margin-top:45px;"></div>
<a href="\" class="w3-bar-item w3-button"><i class="fas fa-home"></i> Home</a>
<a href="#" class="w3-bar-item w3-button"><i class="fab fa-ethereum"></i>&nbsp; Ethereum</a>
<a href="#" class="w3-bar-item w3-button"><i class="fas fa-code"></i> Smart Contracts</a>
<a href="#" class="w3-bar-item w3-button"><i class="fab fa-firefox"></i>&nbsp; MetaMask</a>
<hr>

<h5 class="w3-bar-item">THEORY</h5>
<a href="/" class="w3-bar-item w3-button"><i class="fas fa-pencil-alt"></i></a>
<a href="/" class="w3-bar-item w3-button"><i class="fa fa-link"></i></a>
<a href="/" class="w3-bar-item w3-button"><i class="fa fa-plus-square"></i></a>
<hr>

<h5 class="w3-bar-item">CHALLENGES</h5>
<a id="warmUpBtn" href="/games/warmUp" class="w3-bar-item w3-button">1. WarmUp</a>
<a id="rubixiBtn" href="/games/rubixi" class="w3-bar-item w3-button">2. Rubixi</a>
<a id="odometerBtn" href="/games/odometer" class="w3-bar-item w3-button">3. Odometer</a>
<a id="keepingSecretsBtn" href="/games/keepingSecrets" class="w3-bar-item w3-button">4. KeepingSecrets</a>
<a id="externalFactorsBtn" href="/games/externalFactors" class="w3-bar-item w3-button">5. ExternalFactors</a>
<a id="forcedPaymentsBtn" href="/games/forcedPayments" class="w3-bar-item w3-button">6. ForcedPayments</a>
<a id="simpleDAOBtn" href="/games/simpleDAO" class="w3-bar-item w3-button">7. SimpleDAO</a>
<a id="randomnessBtn" href="/games/randomness" class="w3-bar-item w3-button">8. Randomness</a>

<hr>

<a href="/survey" class="w3-bar-item w3-button"><i class="fas fa-comment-alt"></i>&nbsp; Submit Survey</a>
<a href="/faq" class="w3-bar-item w3-button"><i class="fas fa-comments"></i>&nbsp; FAQ</a>
<hr>
