<div class="w3-bar-item" style="margin-top:45px;"></div>
<a href="/" class="w3-bar-item w3-button"><i class="fas fa-home"></i> Home</a>
<a href="/ethereum" class="w3-bar-item w3-button"><i class="fab fa-ethereum"></i>&nbsp; Ethereum</a>
<a href="/smartContracts" class="w3-bar-item w3-button"><i class="fas fa-shield-alt"></i> Smart Contracts</a>
<a href="/metamask" class="w3-bar-item w3-button"><i class="fab fa-firefox"></i>&nbsp; MetaMask</a>
<a href="/survey" class="w3-bar-item w3-button w3-grey"><i class="fas fa-comment-alt"></i>&nbsp; Submit Survey</a>
<hr>

<h5 class="w3-bar-item">CHALLENGES</h5>
<a id="warmUpBtn" href="/games/warmUp" class="w3-bar-item w3-button">1. WarmUp</a>
<a id="rubixiBtn" href="/games/rubixi" class="w3-bar-item w3-button">2. Rubixi</a>
<a id="odometerBtn" href="/games/odometer" class="w3-bar-item w3-button">3. Odometer</a>
<a id="keepingSecretsBtn" href="/games/keepingSecrets" class="w3-bar-item w3-button">4. KeepingSecrets</a>
<a id="externalFactorsBtn" href="/games/externalFactors" class="w3-bar-item w3-button">5. ExternalFactors</a>
<a id="forcedPaymentsBtn" href="/games/forcedPayments" class="w3-bar-item w3-button">6. ForcedPayments</a>
<a id="simpleDAOBtn" href="/games/simpleDAO" class="w3-bar-item w3-button">7. SimpleDAO</a>
<a id="randomnessBtn" href="/games/randomness" class="w3-bar-item w3-button">8. Randomness</a>

<hr>

<h5 class="w3-bar-item">RESOURCES</h5>
<a href="/vulnerabilities" class="w3-bar-item w3-button"><i class="fas fa-exclamation-triangle"></i> Vulnerabilities</a>
<div id="vulnerabilitiesDD" class="w3-hide w3-grey w3-card">
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('Randomness')">Randomness</a>
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('Constructors')">Constructors</a>
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('DoS')">Denial of Service</a>
</div>

<a href="/realexamples" class="w3-bar-item w3-button"><i class="fas fa-code"></i> Real Examples</a>
<div id="realExamplesDD" class="w3-hide w3-grey w3-card">
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('TheDAO')">The DAO</a>
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('Governmental')">Governmental</a>
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('Rubixi')">Rubixi</a>
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('KotE')">King of the Ether</a>
    <a class="w3-bar-item w3-button" onclick="scrollToLocation('R.P.S')">Rock Paper Scissors</a>
</div>

<a href="/securitytools" class="w3-bar-item w3-button"><i class="fas fa-lock"></i> Security Tools</a>
<hr>