<div style="margin-top:65px;">
    <button class="w3-button w3-block w3-left-align"><i class="fas fa-home"></i>&nbsp;&nbsp; Home</button>
    <button class="w3-button w3-block w3-left-align"><i class="fab fa-ethereum"></i>&nbsp;&nbsp;&nbsp; Ethereum</button>
    <button class="w3-button w3-block w3-left-align"><i class="fas fa-code"></i>&nbsp; Smart Contracts</button>
    <hr>
</div>

<div style="margin-left:25px;"><p>THEORY</p></div>
<div>
    <a href="/" class="w3-button w3-block w3-left-align"><i class="fas fa-pencil-alt"></i></a>
    <a href="/" class="w3-button w3-block w3-left-align"><i class="fa fa-link"></i></a>
    <a href="/" class="w3-button w3-block w3-left-align"><i class="fa fa-plus-square"></i></a>
    <hr>
</div>

<div style="margin-left:25px;">
    <p>WAR GAMES</p>
</div>
<div>
    <button class="w3-button w3-block w3-left-align">1. Reentrancy</button>
    <button class="w3-button w3-block w3-left-align">2. </button>
    <button class="w3-button w3-block w3-left-align">3. </button>
    <hr>
</div>

<div>
    <button class="w3-button w3-block w3-left-align"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp; Settings</button>
    <button class="w3-button w3-block w3-left-align"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;&nbsp; Help</button>
    <button class="w3-button w3-block w3-left-align"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;&nbsp; Send Feedback</button>
    <hr>
</div>