<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/rainbow.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="primary">
    <div id="header">
        {{> header}}
    </div>
    <div id="leftSidebar" class="secondary w3-card-2 w3-sidebar w3-bar-block w3-hide-small">
        {{> sidebar }}
    </div>
    <div id="mainBody" class="w3-container">
        {{{body}}}
    </div>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
    <script type="text/javascript" src="/javascripts/web3.js"></script>
</body>
</html>