<div class="w3-card w3-panel header">
    <h1>Real Examples</h1>

    <p>This page contains a description of some smart contracts that have contained bugs or vulnerabilities that has caused them to be hacked or broken.</p>

    <hr>

    <div id="TheDAO" class="w3-container">
        <h2>The DAO Hack</h2>
        <p>- Approx. 3,500,000 Ether stolen </p>
        <p>The DAO hack was the first major smart contract hack to happen on the Ethereum network. “The DAO” is the name of a particular Decentralised Autonomous Organisation that launched on 30th April 2016. A Decentralised Autonomous Organisation is an entity that lives on the blockchain. It has coded rules that can be used in the decision making of an organisation, creating a structure of decentralised control and eliminating the need for documents and people to act as authority.</p>
        <p>TheDAO uses tokens that represent ownership, and can be used to vote on proposals to the DAO on how to spend money. Ownership tokens are distributed to investors that purchase them during the funding period, or initial coin offering (ICO). The fundraising period lasted 28 days and by the end had raised over $150 Million, making it the largest ICO to date.</p>
        <p>Sometime after the ICO, some developers reviewing the code became concerned that some parts of the code could be vulnerable. On June 12th The DAOs developers announced that a “recursive call vulnerability” had been found and patched. However it turns out there were still vulnerabilities in the code. </p>
        <p>On the 17th of June, 2016 the smart contracted was exploited and the hacker managed to withdraw over 3,500,000 ether. With a total supply of around 97,000,000 ether, the amount stolen was a significant proportion of the supply, and had quite a negative impact on the Ethereum network and its cryptocurrency. Shortly after a hard fork was proposed, which would place the stolen ethers in a new smart contract that would allow investors to refund their DAO tokens for ether. One of the core fundamentals of blockchain is to be immutable and resistant to tampering from third-parties, so this proposal was controversial. In order to reach a quick consensus, ether holders voted on the proposal by sending a transaction to a voting contract. The majority of holders (89%) voted in favour of a hard fork to confiscate the ether. At block 1920000 on 20th July 2016 a hark fork occurs, causing a split in the Ethereum chain. The majority chain, Ethereum (ETH), is continued to be worked on by the Ethereum Foundation. The minority chain, Ethereum Classic (ETC), is the chain where the hacker remains in control of over 3 million ETC.</p>
    </div>

    <hr>

    <div id="Governmental" class="w3-container">
        <h2>Governmental</h2>
        <p>- 1100 Ether stuck in contract</p>
        <p>Paris is the capital of France.</p>
        <p>The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.</p>
    </div>

    <hr>

    <div id="Rubixi" class="w3-container">
        <h2>Rubixi</h2>
        <p>Paris is the capital of France.</p>
        <p>The Paris area is one of the largest population centers in Europe, with more than 12 million inhabitants.</p>
    </div>

    <hr>

    <div id="KotE" class="w3-container">
        <h2>King of the Ether</h2>
        <p>King of the Ether Throne is a chain game originally located at 0x2464d1d97f8D0180CFaD67BdB19bc30ccA69DdA0. The idea is a user can purchase the title to the throne by paying off the previous king. The price to claim the throne is then increases by a set amount. If someone then dethrones you, they pay a higher price and you recieve some profit for being dethroned. The contract owner also takes a cut of the profit as commision. However, the contract contains a vulnerability that could result in the current king not being paid.</p>
        <p></p>
    </div>

    <hr>

    <div id="R.P.S" class="w3-container">
        <h2>Rock Paper Scissors</h2>
        <p>Rock-Paper-Scissors is a smart contract that was exploitable through information disclosure. The idea was that one player would start by selecting, rock, paper or scissors. Then a second player would come along and select another. The player that won would win a small amount of Ether. However, since the transaction information is public, anyone could see the first players move and win every time.</p>
    </div>
</div>

<script>
document.getElementById("realExamplesDD").className += " w3-show";
</script>