<div class="w3-card w3-panel header">
    <h3>Real Examples</h3>

    <p>MetaMask is a network extension that allows for easy interaction with the Ethereum blockchain.</p>
</div>

<script>
document.getElementById("realExamplesDD").className += " w3-show";
</script>