<div class="w3-card w3-panel header">
    <h2>Welcome!</h2>
    <p>This website has been designed to educate you about Ethereum smart contract vulnerabilities.</p>
    <p>Check out the resources section to learn about the various known vulnerabilities, examples of real attacks and security tools that can be used to prevent vulnerabilities.</p>

    <hr>
    <h3>Instructions</h3>
    <p>There are 8 smart contract challenges that need to be 'hacked'. Each one highlights a different security vulnerability.</p>

    <p>To play the challenges you must have <a href="/metamask">MetaMask</a> installed. MetaMask is a browser extension that allows for easy interaction with the Ethereum blockchain. <a href="https://metamask.io/"> MetaMask can be downloaded here</a></p>

    <p>To make transaction on the network you will need <a href="/metamask">Ether</a>, which is a cryptocurrency that acts as a fuel for the network. Every time a transaction is made, a small amount of Ether is burned. <a href="/metamask">Find out where to get Ether here</a></p>
    <p class="w3-text-red">**Please use a testnet to complete the challenges**</p>
    <p>Test networks are different to the mainnet and are used by developers to experiment with their smart contracts before deploying them to the main network. Testnet Ether can be easily acquired and has no real monetary value.</p>
    <p>Once you have attempted some of the challenges, please complete the <a href="/survey">questionnaire</a> about the experience.</p>

    <a href="/games/warmUp" class="w3-button w3-blue w3-margin">Play Now</a>
</div>