<div class="w3-card w3-panel header">
    <h2>Welcome!</h2>
    <p>This website has been designed to educate you about Ethereum smart contract vulnerabilities.</p>
    <p>This website has been designed to educate you about Ethereum smart contract vulnerabilities.</p>

    <hr>
    <h3>Instructions</h3>
    <p>There are 8 smart contract challenges that need to be 'hacked'. Each one highlights a different security vulnerability.</p>

    <p><a href="/metamask">MetaMask</a> will need to be installed to play these challenges. You will also need Ether to transact on the network. **Please use a testnet to complete the challenges**</p>

    <p>Once you have attempted some of the challenges, please submit the feedback <a href="/survey">survey</a> about the experience.</p>

    <a href="/games/warmUp" class="w3-button w3-blue w3-margin">Play Now</a>
</div>