<div class="w3-card w3-panel header">
    <h2>Instructions</h2>
    <ul>
        <li><p>There are 8 smart contract challenges that need to be completed. Each one highlights a different security vulnerability.</p></li>
        <li><p>To play the challenges you must have <a href="/metamask">MetaMask</a> installed. MetaMask is a browser extension that allows for easy interaction with the Ethereum blockchain. <a href="https://metamask.io/"> Download MetaMask Here</a></p></li>
        <li><p class="w3-text-red">**Please use a testnet to complete the challenges**</p></li>
        <li><p>Test networks are different to the mainnet. They are used by developers to experiment with their smart contracts before deploying them to the main network. Testnet Ether is separate from mainnet Ether and has no real monetary value.</p></li>
        <li><p>To make transactions on the network you will need <a href="/metamask"> Ether</a>, which is a cryptocurrency that acts as a fuel for the network. Every time a transaction is made, a small amount of Ether is burned. <a href="/metamask">Testnet Ether is obtained primarily by using a faucet.</a></p></li>
        <li><p>Once you have attempted some of the challenges, please complete the <a href="/survey">questionnaire</a> about the experience. You can also submit feedback for each level.</p></li>
    </ul>

    <a href="/survey" class="w3-button w3-amber btnSize">Questionnaire</a>
    <a href="/games/warmUp" class="w3-button w3-blue w3-right btnSize">Play Now</a>
</div>