<div class="w3-card w3-panel header">
    <h2>Welcome!</h2>
    <p>This website has been designed to educate you about Ethereum smart contract vulnerabilities.</p>
    <p>Check out the resources section to learn about the various known vulnerabilities, examples of real attacks and security tools that can be used to prevent vulnerabilities.</p>

    <hr>
    <h3>Instructions</h3>
    <p>There are 8 smart contract challenges that need to be 'hacked'. Each one highlights a different security vulnerability.</p>

    <p>To play the challenges <a href="/metamask">MetaMask</a> must be installed. You will also need <a href="/metamask">Ether</a> to transact on the network.<a href="/metamask"> Get Ether here</a></p>
    <p class="w3-text-red">**Please use a testnet to complete the challenges**</p>

    <p>Once you have attempted some of the challenges, please complete the <a href="/survey">questionnaire</a> about the experience.</p>

    <a href="/games/warmUp" class="w3-button w3-blue w3-margin">Play Now</a>
</div>