<div class="w3-card w3-panel header">
    <h3>Ethereum</h3>

    <p>
        Ethereum is a blockchain-based decentralised computing platform, first proposed by Vitalik Buterin in 2013.
        Ethereum allows anyone to create decentralized applications (dApps), which are immutable and immune from 3rd party interference.
        Ethereum makes it possible to create secure contracts for voting, crowdfunding, blind auctions, multi-signature wallets and more.
    </p>
    <br>
    <h4>Accounts</h4>
    <p>
        Accounts are objects with unique 20-byte addresses, used to store states in Ethereum. Accounts contain four fields:
    <ul><li>The nonce - A counter used to make sure each transaction can only be processed once</li>
    <li>The account's ether balance</li>
    <li>The account's contract code (if present)</li>
    <li>The account's storage (empty by default)</li>
        </ul>

        There are two types of accounts; Externally owned accounts, which are controlled by private keys,
        and contract accounts, which are controlled by their contracts code.
    </p>
</div>
