<div class="w3-card w3-panel header">
    <h3>Ethereum</h3>

    <p>
        Ethereum is a blockchain-based decentralised computing platform, first proposed by Vitalik Buterin in 2013.
        Ethereum allows anyone to create decentralized applications (dApps), which are immutable and immune from 3rd party interference.
        Ethereum makes it possible to create secure contracts for voting, crowdfunding, blind auctions, multi-signature wallets and more.
    </p>
    <br>
    <h4>Accounts</h4>
    <p>
        Accounts are objects with unique 20-byte addresses, used to store states in Ethereum. Accounts contain four fields:
    <ul><li>The nonce - A counter used to make sure each transaction can only be processed once</li>
    <li>The account's ether balance</li>
    <li>The account's contract code (if present)</li>
    <li>The account's storage (empty by default)</li>
        </ul>

        There are two types of accounts; Externally owned accounts, which are controlled by private keys,
        and contract accounts, which are controlled by their contracts code.
    </p>

    <br>

    <div id="smartContracts">
        <h3>Smart Contracts</h3>

        <p>Smart contracts are immutable applications that run as programmed without the possibility of censorship,
            downtime or third-party interference. These applications are stored on the blockchain and executed on the Ethereum Virtual Machine (EVM),
            using the crypto-fuel, Ether, to pay for transactions. Code running inside the EVM is sandboxed and has no access to networks,
            filesystem or other processes. Smart contracts are programmed in the contract-oriented, high-level language,
            Solidity, before being compiled to the Turing-complete bytecode language called EVM bytecode.
        </p>
    </div>
</div>
