<div class="w3-card w3-panel header">
    <h3>What is MetaMask?</h3>

    <p>MetaMask is a browser extension that allows for easy interaction with the Ethereum blockchain.</p>

    <h4>Getting Ether</h4>
    <p>Testnet ether can be easily acquired by using a faucet.</p>
</div>