<div class="w3-card w3-panel header">
    <h3>What is MetaMask?</h3>

    <p>MetaMask is a browser extension that allows for easy interaction with the Ethereum blockchain.</p>
    <p>It allows you to run Ethereum dApps right in your browser without running a full Ethereum node.</p>
    <p>MetaMask includes a secure identity vault, providing a user interface to manage your identities on different sites and sign blockchain transactions.</p>

    <hr>

    <h3>Download</h3>
    <p>You can install the MetaMask add-on in Chrome, Firefox, Opera, and the new Brave browser.</p>
    <p>Visit <a href="https://metamask.io/">metamask.io</a> to install the extension.</p>

    <hr>

    <h3>Getting Ether</h3>
    <p>Testnet ether can be easily acquired by using a faucet.</p>
    <h4>Ropsten:</h4>
    <p><a href="https://faucet.metamask.io/">https://faucet.metamask.io/</a></p>
    <p><a href="https://faucet.ropsten.be/">https://faucet.ropsten.be/</a></p>

    <br>

    <h4>Rinkbey:</h4>
    <p><a href="https://faucet.metamask.io/">https://faucet.metamask.io/</a></p>
    <p><a href="https://faucet.rinkeby.io/">https://faucet.rinkeby.io/</a></p>

    <br>

    <h4>Kovan:</h4>
    <p><a href="https://gitter.im/kovan-testnet/faucet">https://gitter.im/kovan-testnet/faucet</a></p>
    <p><a href="https://faucet.kovan.network/">https://faucet.kovan.network/</a></p>
</div>
