body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover {
  text-decoration: underline;
}

#footer {
  margin-top: 25px;
  color:grey;
  font-size: 12px;
}

.btnSize {
  width:150px;
  margin: 25px 0px 25px 0px;
}

.primary{
  background-color: #1A1B1F;
  color: #D2D7D3;
}

.secondary{
  background-color: #202126;
  color: #D2D7D3;
}

.header{
  background-color: #2A2B31;
  color: #D2D7D3;
}

#WelcomePage{
  position: fixed;
  top:0;
  left:0;
  z-index:2;
  width:100%;
  height:100vh;
}

#header{
  position: relative;
  top:0;
  z-index:1;
}

#lowFundsWarning{
  position: static;
  margin: 50px 0px -50px 200px;
}

#mainBody{
  margin: 50px 0px 0px 200px;
}

@media only screen and (max-width: 768px) {
  #mainBody {margin: 50px 0px 0px 0px;}
  #leftSidebar {display: none;}
  #smallMenuBtn {display: block;}
}

@media only screen and (min-width: 768px) {
  #smallMenuBtn {display: none;}
  #leftSidebar {display: block;}
}

#contractInterface button{
  width:200px;
}

#contractInterface input{
  width:150px;
}

#removeBtn{
  cursor: pointer;
}

#copyBtn{
  cursor: pointer;
}

#transactionInfo{
  max-height: 150px;
  overflow-y: auto;
}

/* Scroll bar */
/* width */
#transactionInfo::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#transactionInfo::-webkit-scrollbar-track {
  background: #2A2B31;
}

/* Handle */
#transactionInfo::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
#transactionInfo::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#leftSidebar{
  position: fixed;
  top:0;
  left:0;
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  z-index: 0;
}

#leftSidebar a.current{
  color: #000000;
  background:#CCCCCC;
}

#leftSidebar a.completed{
  color: #FFFFFF;
  background:#4CAF50;
}

/* Scroll bar */
/* width */
#leftSidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#leftSidebar::-webkit-scrollbar-track {
  background: #2A2B31;
}

/* Handle */
#leftSidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
#leftSidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Survey CSS */

h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:6%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:81.5%;
}
form .likert li {
  display:inline-block;
  width:13.25%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:45%;
  margin-left:-6px;

}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}

form .likertSelect {
  margin-left:5%;
  width:20%;
  display:block;
  min-width: 250px;
}

.surveyMargin {
  margin-left: 6%;
}