<div class="w3-container w3-margin w3-card-4 header">
    <br>
    <h2>Beat This Level</h2>
    <p>Make the contracts address have a balance greater than 0</p>
    <button id="hintButton" class="w3-button w3-amber" onclick="getHint();">Hint (3)</button>
    <div id="HintText" style="display: none;"></div>
</div>

<div class="w3-panel w3-card-4 header w3-margin">
    <h4>ForcedPayments.sol</h4>
    <div id="deployedContractAddress" class="w3-margin"><button id="deployButton" onclick="deployContract();" class="w3-button w3-orange w3-margin">Deploy</button></div>
    <div id="transactionInfo" class="w3-margin"></div>
    <div id="userErrors" class="w3-text-red w3-margin"></div>
    <div id="contractInterface"></div>

    <pre><code class="typescript Tomorrow">
pragma solidity ^0.5.3;

contract forcedPayments {/*

    ¯\_(ツ)_/¯

*/}
</code></pre>
</div>
<script>
hljs.initHighlightingOnLoad();
var forcedPaymentsContract = web3.eth.contract([]);
var forcedPaymentsInstance;

function deployContract() {
    var forcedPayments = forcedPaymentsContract.new(
            {
                from: web3.eth.accounts[0],
                data: '0x6080604052348015600f57600080fd5b50603580601d6000396000f3fe6080604052600080fdfea165627a7a723058205965b236e1465e1f72c5feebdb9cd5e1fadc986360c30c74f7aed47415c337f60029',
                gas: '4700000'
            }, function (e, contract) {
                console.log(e, contract);
                transactionPending(contract);
                if (typeof contract.address !== 'undefined') {
                    console.log('Contract mined! address: ' + contract.address + ' transactionHash: ' + contract.transactionHash);
                    //Add dApp Address to Local Storage
                    localStorage.setItem("forcedPaymentsAddr", contract.address);
                    getInstance();
                    document.getElementById('transactionInfo').innerHTML = "";
                    updateUI();
                }
            })
}

function transactionPending(contract){
    var Tx = contract.transactionHash;
    document.getElementById('transactionInfo').innerHTML = "<i class=\"fas fa-spinner w3-spin\"></i> Transaction <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://ropsten.etherscan.io/tx/"+Tx+"'>" + Tx + "</a>  Pending... (This can take a minute)";
}

function updateUI(){

    var x = document.getElementById("contractInterface");
    x.innerHTML = '<div class="w3-bar">\n' +
            '    <div class="w3-bar-item">\n' +
            '      <button onclick="checkBalance();" class="w3-button w3-blue">View Contract Balance</button>\n' +
            '    </div>\n' +
            '    <div class="w3-bar-item">\n' +
            '      <div id="checkBalance"></div>\n' +
            '    </div>\n';

    document.getElementById('deployedContractAddress').innerHTML = "Address: <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://ropsten.etherscan.io/address/"+forcedPaymentsInstance.address+"'>" + forcedPaymentsInstance.address + "</a>" +
    " <i id='removeBtn' title='Remove Contract' class=\"far fa-trash-alt w3-text-red\" onclick='removeContract(\"forcedPaymentsAddr\");'></i>";
}
//If the contract has already been deployed, get instance from localstorage variable
function getInstance(){
    var forcedPaymentsAddr = localStorage.getItem("forcedPaymentsAddr");
    forcedPaymentsInstance = forcedPaymentsContract.at(forcedPaymentsAddr);
    console.log(forcedPaymentsInstance);
}

function checkBalance(){
    var checkBalance = document.getElementById('checkBalance');
    checkBalance.innerHTML = '<i class="fas fa-spinner w3-spin"></i>';
    web3.fromWei(web3.eth.getBalance(forcedPaymentsInstance.address, function(error, result){
        checkBalance.innerHTML = result + ' wei';
        if(result > 0){
            localStorage.setItem("forcedPaymentsComplete", "true");
            completedStatus();
        }
    }));
}

var Level = 1;
function getHint(){

    var hintText = document.getElementById('HintText');
    hintText.style.display = "block";
    hintText.innerHTML = "";

    if(Level == "1"){
        hintText.innerHTML = "<p>For a contract to receive ether a function must be marked as 'payable'. However there is one other way...</p>";
        document.getElementById('hintButton').innerHTML = "Hint (1/3)";
        Level = 2;
    } else if (Level == "2"){
        hintText.innerHTML = "<p>For a contract to receive ether a function must be marked as 'payable'. However there is one other way...</p><p>Look into the self destruct function.</p>";
        document.getElementById('hintButton').innerHTML = "Hint (2/3)";
        Level = 3;
    } else if (Level == "3"){
        hintText.innerHTML = "<pre><code class=\"Javascript Tomorrow\">\n" +
                "pragma solidity ^0.5.3;\n" +
                "\n" +
                "contract forcedPaymentsAnswer {\n" +
                "\n" +
                "    constructor() public payable {}\n" +
                "    \n" +
                "    function kill() public{\n" +
                "        selfdestruct(**Deployed Contract Address**);\n" +
                "    }\n" +
                "\n" +
                "}" +
                "</code></pre>";
        document.getElementById('hintButton').innerHTML = "Hint (3/3)";
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
    });
        document.getElementById('hintButton').innerHTML = "Hint (3/3)";
    }
}

//Check LocalStorage to see if the contract has been deployed.
if (localStorage.getItem("forcedPaymentsAddr")){
    //Add Contract to web3.eth.contract
    getInstance();
    updateUI();
}
</script>