<div class="w3-container w3-margin w3-card-4 header">
    <br>
    <h2>Beat This Level</h2>
    <p>Claim ownership of the contract</p>
    <p>Aquire more token than you initially have</p>
    <button id="helpButton" class="w3-button w3-red" onclick="getHelp();">Help</button>
    <div id="HelpText" style="display: none;">HelpText</div>
</div>

<div class="w3-panel w3-card-4 header w3-margin">
    <h4>Odometer.sol</h4>
    <div id="deployedContractAddress" class="w3-margin"><button id="deployButton" onclick="deployContract();" class="w3-button w3-orange w3-margin">Deploy</button></div>
    <div id="transactionInfo" class="w3-margin"></div>
    <div id="userErrors" class="w3-text-red w3-margin"></div>
    <div id="contractInterface"></div>

    <pre><code class="typescript Tomorrow">
pragma solidity ^0.5.2;

contract odometer {
    address public owner;
    mapping(address => uint) public tokens;

    constructor() public payable {
        owner = 0xcCF90925D0756bd69D1f3d0fD965672f34d32C4E;
    }

    function viewTokens() public view returns (uint) {
        return tokens[msg.sender];
    }

    function buyTokens() public payable{
        require(msg.value > 0);
        tokens[msg.sender] += msg.value;
    }

    function sellTokens(uint _amount) public{
        require(tokens[msg.sender] - _amount >= 0);
        tokens[msg.sender] -= _amount;
    }

    function claimOwnership() public payable {
        require(msg.value > 0 && tokens[msg.sender] > 1000000000000000000000000000);
        owner = msg.sender;
    }
}
</code></pre>
</div>

<script>
    hljs.initHighlightingOnLoad();
</script>