<div class="w3-container w3-margin w3-card-4 header">
<br>
<h2>Beat This Level</h2>
<p>Claim ownership of the contract</p>
<p>Aquire more token than you initially have</p>
</div>

<div class="w3-panel w3-card-4 w3-light-grey w3-margin">
    <h4>Odometer.sol</h4>
    <pre><code class="typescript Tomorrow">
pragma solidity ^0.4.22;

contract odometer {
    address public owner;
    mapping(address => uint) public tokens;

    constructor() public payable {
        owner = 0xcCF90925D0756bd69D1f3d0fD965672f34d32C4E;
    }

    function viewTokens() public view returns (uint) {
        return tokens[msg.sender];
    }

    function buyTokens() public payable{
        require(msg.value > 0);
        tokens[msg.sender] += msg.value;
    }

    function sellTokens(uint _tokens) {
        require(tokens[msg.sender] >= _tokens);
    }
}
</code></pre>
    <button class="w3-button w3-orange w3-margin">Deploy</button>
</div>

<script>
    hljs.initHighlightingOnLoad();
</script>