<div class="w3-container w3-margin w3-card-4 header">
    <p>This is the first level of the security challenges.</p>
    <p>This level designed for you to get familiar with MetaMask and interacting with the Ethereum blockchain.</p>
    <p>This level does not contain any security vulnerabilities.</p>
    <br>
    <h2>Beat This Level</h2>
    <p>Claim ownership of the contract</p>
</div>

<div class="w3-panel w3-card-4 header w3-margin">
    <h4>WarmUp.sol</h4>
    <span id="transactionInfo"><button id="deployButton" onclick="deployContract();" class="w3-button w3-orange w3-margin">Deploy</button></span>
    <span id="contractABI"></span>
    <pre><code class="typescript Tomorrow">
pragma solidity ^0.4.22;

contract WarmUp {
    address public owner;
    mapping(address => uint) public contributions;

    constructor() {
        owner = 0xcCF90925D0756bd69D1f3d0fD965672f34d32C4E;
    }

    function viewContribution() public view returns (uint) {
        return contributions[msg.sender];
    }

    function addToPot() public payable{
        require(msg.value > 0);
        contributions[msg.sender] += msg.value;
    }

    function claimOwnership() payable {
        require(msg.value > 0 && contributions[msg.sender] > 0);
        owner = msg.sender;
    }
}
    </code></pre>
</div>

<script>
hljs.initHighlightingOnLoad();

function deployContract() {

    var warmupContract = web3.eth.contract([{
        "constant": false,
        "inputs": [],
        "name": "addToPot",
        "outputs": [],
        "payable": true,
        "stateMutability": "payable",
        "type": "function"
    }, {
        "constant": true,
        "inputs": [{"name": "", "type": "address"}],
        "name": "contributions",
        "outputs": [{"name": "", "type": "uint256"}],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }, {
        "constant": false,
        "inputs": [],
        "name": "claimOwnership",
        "outputs": [],
        "payable": true,
        "stateMutability": "payable",
        "type": "function"
    }, {
        "constant": true,
        "inputs": [],
        "name": "owner",
        "outputs": [{"name": "", "type": "address"}],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }, {
        "constant": true,
        "inputs": [],
        "name": "viewContribution",
        "outputs": [{"name": "", "type": "uint256"}],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }, {"inputs": [], "payable": false, "stateMutability": "nonpayable", "type": "constructor"}]);
    var warmup = warmupContract.new({
        from: web3.eth.accounts[0],
        data: '0x608060405234801561001057600080fd5b5060008054600160a060020a03191673ccf90925d0756bd69d1f3d0fd965672f34d32c4e1790556101f0806100466000396000f30060806040526004361061006c5763ffffffff7c010000000000000000000000000000000000000000000000000000000060003504166317ebf6ae811461007157806342e94c901461007b5780634e71e0c8146100bb5780638da5cb5b146100c3578063a931383414610101575b600080fd5b610079610116565b005b34801561008757600080fd5b506100a973ffffffffffffffffffffffffffffffffffffffff6004351661013a565b60408051918252519081900360200190f35b61007961014c565b3480156100cf57600080fd5b506100d8610195565b6040805173ffffffffffffffffffffffffffffffffffffffff9092168252519081900360200190f35b34801561010d57600080fd5b506100a96101b1565b6000341161012357600080fd5b336000908152600160205260409020805434019055565b60016020526000908152604090205481565b600034118015610169575033600090815260016020526040812054115b151561017457600080fd5b6000805473ffffffffffffffffffffffffffffffffffffffff191633179055565b60005473ffffffffffffffffffffffffffffffffffffffff1681565b33600090815260016020526040902054905600a165627a7a7230582051093ff41e0926b9b357787a2f77757ac5e40a6ee35b722def132718923deaa90029',
        gas: '4700000'
    }, function (e, contract) {
        console.log(e, contract);
        transactionPending(contract);
        if (typeof contract.address !== 'undefined') {
            console.log('Contract mined! address: ' + contract.address + ' transactionHash: ' + contract.transactionHash);
            transactionComplete(contract);
        }
    })
}

function transactionPending(contract){
    var Tx = contract.transactionHash;
    document.getElementById('transactionInfo').innerHTML = "<i class=\"fas fa-spinner w3-spin\"></i> Transaction <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://ropsten.etherscan.io/tx/"+Tx+"'>" + Tx + "</a>  Pending... (This can take a minute)";
}

function transactionComplete(contract){
    var x = document.getElementById("contractABI");
    x.innerHTML = '<div class="w3-bar">\n' +
            '    <div class="w3-bar-item">\n' +
            '      <button class="w3-button w3-red">addToPot()</button>\n' +
            '    </div>\n' +
            '    <div class="w3-bar-item">\n' +
            '      <input class="w3-input w3-border" style="width:150px" type="text">\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="w3-bar">\n' +
            '    <div class="w3-bar-item">\n' +
            '      <button class="w3-button w3-red">claimOwnership()</button>\n' +
            '    </div>\n' +
            '    <div class="w3-bar-item">\n' +
            '      <input class="w3-input w3-border" style="width:150px" type="text">\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="w3-bar">\n' +
            '    <div class="w3-bar-item">\n' +
            '      <button class="w3-button w3-blue">viewContribution()</button>\n' +
            '    </div>\n' +
            '    <div id="contractOwner" class="w3-bar-item"></div>\n' +
            '  </div>\n' +
            '  <div class="w3-bar">\n' +
            '    <div class="w3-bar-item">\n' +
            '      <button class="w3-button w3-blue">owner</button>\n' +
            '    </div>\n' +
            '    <div id="contractOwner" class="w3-bar-item"></div>\n' +
            '  </div>';

    var Tx = contract.transactionHash;
    document.getElementById('transactionInfo').innerHTML = "Address: <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://ropsten.etherscan.io/address/"+contract.address+"'>" + contract.address + "</a>";
}
</script>