<div class="w3-container w3-margin w3-card-4 header">
    <p>This is the first level of the security games.</p>
    <p>This level designed to get familiar with MetaMask and transacting on the Ethereum blockchain.</p>
    <p>This level does not contain any security vulnerabilities.</p>
    <br>
    <h2>Beat This Level</h2>
    <p>Claim ownership of the contract</p>
</div>

<div class="w3-panel w3-card-4 header w3-margin">
    <h4>WarmUp.sol</h4>
    <pre><code class="typescript Tomorrow">
pragma solidity ^0.4.22;

contract WarmUp {
    address public owner;
    mapping(address => uint) public contributions;

    constructor() {
        owner = 0xcCF90925D0756bd69D1f3d0fD965672f34d32C4E;
    }

    function viewContribution() public view returns (uint) {
        return contributions[msg.sender];
    }

    function addToPot() public payable{
        require(msg.value > 0);
        contributions[msg.sender] += msg.value;
    }

    function claimOwnership() payable {
        require(msg.value > 0 && contributions[msg.sender] > 0);
        owner = msg.sender;
    }
}
    </code></pre>
    <button class="w3-button w3-orange w3-margin">Deploy</button>
</div>

<script>
    hljs.initHighlightingOnLoad();
</script>