<div class="w3-panel w3-padding header w3-card">
    <div class="wrap">
        <h1 class="likert-header">Feedback Survey</h1>
        <form action="">
            <label class="statement">What is your preferred gender?</label>
            <select class="w3-select likertSelect" name="option">
                <option value="" disabled selected>Select Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
                <option value="4">Prefer not to say</option>
            </select>

            <label class="statement">What is your nationality</label>
            <select class="w3-select likertSelect" name="option">
                <option value="" disabled selected>Select Nationality</option>
                <option value="1">Prefer not to say</option>
                <option value="2">UK</option>
                <option value="3">USA</option>
                <option value="4">...</option>
            </select>

            <label class="statement">What university course are you studying?</label>
            <input class="w3-input w3-border likertSelect" type="text">

            <label class="statement">What is your programming experience level?</label>
            <select class="w3-select likertSelect" name="option">
                <option value="" disabled selected>Select Experience</option>
                <option value="1">Prefer not to say</option>
                <option value="2">None</option>
                <option value="3">Beginner</option>
                <option value="4">Intermediate</option>
                <option value="5">Advanced</option>
            </select>

            <label class="statement">Have you heard of Ethereum before today?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Yes</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>No</label>
                </li>
            </ul>

            <label class="statement">Have you heard of Solidity before today?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Yes</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>No</label>
                </li>
            </ul>

            <label class="statement">When you first saw the webapp, what was your overall impression?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Excellent</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Good</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Average</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="disagree">
                    <label>Poor</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Bad</label>
                </li>
            </ul>

            <label class="statement">The website is easy to navigate?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Neutral</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="disagree">
                    <label>Disagree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly disagree</label>
                </li>
            </ul>

            <label class="statement">The instructions are easy to follow?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Neutral</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="disagree">
                    <label>Disagree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly disagree</label>
                </li>
            </ul>

            <label class="statement">The security challenges are easy to understand?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Neutral</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="disagree">
                    <label>Disagree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly disagree</label>
                </li>
            </ul>

            <label class="statement">The security challenges were easy to interact with?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Neutral</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="disagree">
                    <label>Disagree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly disagree</label>
                </li>
            </ul>

            <label class="statement">The website provided sufficient help for the challenges?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Neutral</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="disagree">
                    <label>Disagree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly disagree</label>
                </li>
            </ul>

            <label class="statement">The website did a good job at teaching about smart contract vulnerabilities?</label>
            <ul class='likert'>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Agree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Neutral</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="disagree">
                    <label>Disagree</label>
                </li>
                <li>
                    <input type="radio" name="likert" value="strong_agree">
                    <label>Strongly disagree</label>
                </li>
            </ul>

            <label class="statement">How could the challenges be improved?</label>
            <textarea rows="4" cols="75"></textarea>

            <label class="statement">How could the overall website be improved?</label>
            <textarea rows="4" cols="75"></textarea>

            <label class="statement">Please use this to give any feedback that doesn't fit any of the questions</label>
            <textarea rows="4" cols="75"></textarea>

            <div class="buttons">
                <button class="clear">Clear</button>
                <button class="submit">Submit</button>
            </div>
        </form>
    </div>
</div>