<div class="w3-panel w3-padding header w3-card">
    <h4><u>Participant Information</u></h4>

    <label><b>First Name</b></label>
    <input class="w3-input w3-border" type="text">

    <label><b>Nationality</b></label>
    <input class="w3-input w3-border" type="text">

    <label><b>University Course</b></label>
    <input class="w3-input w3-border" type="text">

    <br>
    <label><b>Programming Experience</b></label>
    <div>
        <input class="w3-radio" type="radio" name="PX" value="None">
        <label>None</label>
        <input class="w3-radio" type="radio" name="PX" value="Beginner">
        <label>Beginner</label>
        <input class="w3-radio" type="radio" name="PX" value="Intermediate">
        <label>Intermediate</label>
        <input class="w3-radio" type="radio" name="PX" value="Advanced">
        <label>Advanced</label>
    </div>

    <br>
    <label><b>Have you heard of Ethereum Before?</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Ethereum" value="Yes">
        <label>Yes</label>
        <input class="w3-radio" type="radio" name="Ethereum" value="No">
        <label>No</label>
    </div>

    <br>
    <label><b>Have you heard of Solidity Before?</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Solidity" value="Yes">
        <label>Yes</label>
        <input class="w3-radio" type="radio" name="Solidity" value="No">
        <label>No</label>
    </div>
    <br>

    <h4><u>Website Design</u></h4>
    <label><b>When you first saw the webapp, what was your overall impression?</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Impression" value="Bad">
        <label>Bad</label>
        <input class="w3-radio" type="radio" name="Impression" value="Poor">
        <label>Poor</label>
        <input class="w3-radio" type="radio" name="Impression" value="Average">
        <label>Average</label>
        <input class="w3-radio" type="radio" name="Impression" value="Good">
        <label>Good</label>
        <input class="w3-radio" type="radio" name="Impression" value="Excellent">
        <label>Excellent</label>
    </div>
    <br>

    <label><b>The website was easy to navigate</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Navigate" value="Strongly Disagree">
        <label>Strongly Disagree</label>
        <input class="w3-radio" type="radio" name="Navigate" value="Disagree">
        <label>Disagree</label>
        <input class="w3-radio" type="radio" name="Navigate" value="Neither">
        <label>Neither</label>
        <input class="w3-radio" type="radio" name="Navigate" value="Agree">
        <label>Agree</label>
        <input class="w3-radio" type="radio" name="Navigate" value="Strongly Agree">
        <label>Strongly Agree</label>
    </div>
    <br>

    <label><b>The instructions were easy to follow</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Instructions" value="Strongly Disagree">
        <label>Strongly Disagree</label>
        <input class="w3-radio" type="radio" name="Instructions" value="Disagree">
        <label>Disagree</label>
        <input class="w3-radio" type="radio" name="Instructions" value="Neither">
        <label>Neither</label>
        <input class="w3-radio" type="radio" name="Instructions" value="Agree">
        <label>Agree</label>
        <input class="w3-radio" type="radio" name="Instructions" value="Strongly Agree">
        <label>Strongly Agree</label>
    </div>
    <br>

    <label><b>The security challenges were easy to understand</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Challanges" value="Strongly Disagree">
        <label>Strongly Disagree</label>
        <input class="w3-radio" type="radio" name="Challanges" value="Disagree">
        <label>Disagree</label>
        <input class="w3-radio" type="radio" name="Challanges" value="Neither">
        <label>Neither</label>
        <input class="w3-radio" type="radio" name="Challanges" value="Agree">
        <label>Agree</label>
        <input class="w3-radio" type="radio" name="Challanges" value="Strongly Agree">
        <label>Strongly Agree</label>
    </div>
    <br>

    <label><b>The security challenges were easy to interact with</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Interact" value="Strongly Disagree">
        <label>Strongly Disagree</label>
        <input class="w3-radio" type="radio" name="Interact" value="Disagree">
        <label>Disagree</label>
        <input class="w3-radio" type="radio" name="Interact" value="Neither">
        <label>Neither</label>
        <input class="w3-radio" type="radio" name="Interact" value="Agree">
        <label>Agree</label>
        <input class="w3-radio" type="radio" name="Interact" value="Strongly Agree">
        <label>Strongly Agree</label>
    </div>
    <br>

    <label><b>The website provided sufficient help for the challenges</b></label>
    <div>
        <input class="w3-radio" type="radio" name="Help" value="Strongly Disagree">
        <label>Strongly Disagree</label>
        <input class="w3-radio" type="radio" name="Help" value="Disagree">
        <label>Disagree</label>
        <input class="w3-radio" type="radio" name="Help" value="Neither">
        <label>Neither</label>
        <input class="w3-radio" type="radio" name="Help" value="Agree">
        <label>Agree</label>
        <input class="w3-radio" type="radio" name="Help" value="Strongly Agree">
        <label>Strongly Agree</label>
    </div>
    <br>

    <label><b>The website did a good job at teaching about smart contract vulnerabilities</b></label>
    <div>
        <input class="w3-radio" type="radio" name="OverallHelp" value="Strongly Disagree">
        <label>Strongly Disagree</label>
        <input class="w3-radio" type="radio" name="OverallHelp" value="Disagree">
        <label>Disagree</label>
        <input class="w3-radio" type="radio" name="OverallHelp" value="Neither">
        <label>Neither</label>
        <input class="w3-radio" type="radio" name="OverallHelp" value="Agree">
        <label>Agree</label>
        <input class="w3-radio" type="radio" name="OverallHelp" value="Strongly Agree">
        <label>Strongly Agree</label>
    </div>
    <br>

    <label><b>How could the challenges be improved?</b></label>
    <div><textarea rows="4" cols="75"></textarea></div>
    <br>

    <label><b>How could the overall website be improved?</b></label>
    <div><textarea rows="4" cols="75"></textarea></div>
    <br>

    <label><b>Please use this to give any feedback that doesn't fit any of the questions</b></label>
    <div><textarea rows="4" cols="75"></textarea></div>
    <br>
</div>
