<div id="WelcomePage" style="background: #FFFFFF; color: #000000; overflow: scroll;">
    <div class="w3-margin">
        <h3>Who is the researcher?</h3>
        <p>Connor Hughes - 1500413@uad.ac.uk</p>
        <h3>Purpose of the study:</h3>
        <p>The purpose of this study is to evaluate this websites ability to educate users about Ethereum smart contract vulnerabilities. </p>
        <h3>What will I be asked to do?</h3>
        <p>You will be asked to attempt some smart contract security challenges that will highlight different security issues</p>
        <p>After you will be asked to submit a questionnaire about your experience</p>
        <h3>Time Commitment:</h3>
        <p>This tasks can take 15 minutes - 1+ hours. You can complete/attempt as many challenges as you wish.</p>
        <h3>Must I take part?</h3>
        <p>No you do not need to take part.</p>
        <h3>Are there any risks?</h3>
        <p>When attempting the smart contract challenges please use a testnet. Testnet ether has no monetary value.</p>
        <p>Using the Ethereum mainnet to complete these challenges will use Ether which has real monetary value.</p>
        <h3>Confidentiality/Anonymity:</h3>
        <p>This study is completely anonymous - No personally identifiable information is collected.</p>
        <h3>How can I take part?</h3>
        <p>Accept below to continue to the website.</p>
    </div>
    <div>
        <form action="/welcome" method="post">
            <input id="welcomeCheck" class="w3-check" type="checkbox"  onclick="acceptWebsiteConsent()">
            <label>I consent to take part in this study/experiment conducted by [THE RESEARCHER(S)] who intend to use my data for further research examining [BROAD DESCRIPTION COMPATIBLE WITH THE USE OF SUCH DATA WITHIN THAT LABORATORY/RESEARCH GROUP]</label>
            <br>
            <br>
            <button type="submit" id="continueWebsite" class="w3-button w3-block w3-green" style="display: none;">Continue to Website</button>
        </form>
    </div>
</div>

<script>
function acceptWebsiteConsent(){
    // Get the checkbox
    var checkBox = document.getElementById("welcomeCheck");
    // Get the output text
    var btn = document.getElementById("continueWebsite");

    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
        btn.style.display = "block";
    } else {
        btn.style.display = "none";
    }
}
</script>

