<div id="WelcomePage" style="background: #FFFFFF; color: #000000; overflow: scroll;">
    <div class="w3-margin">
        <h3>Who is the researcher?</h3>
        <p>Connor Hughes - 1500413@uad.ac.uk</p>
        <br>
        <h3>Purpose of the study:</h3>
        <p>The purpose of this study is to evaluate this websites ability to educate users about Ethereum smart contract vulnerabilities. </p>
        <br>
        <h3>What will I be asked to do?</h3>
        <p>You will be asked to attempt some smart contract security challenges that will highlight different security issues</p>
        <p>After you will be asked to submit a questionnaire about your experience</p>
        <br>
        <h3>Time Commitment:</h3>
        <p>This tasks can take 15 minutes - 1+ hours. You DO NOT need to complete all of the challenges. Complete as many as you wish.</p>
        <br>
        <h3>Must I take part?</h3>
        <p>Participation is voluntary. You may leave the study at any time.</p>
        <br>
        <h3>Are there any risks?</h3>
        <p>When attempting the smart contract challenges please use a testnet. Testnet ether has no monetary value.</p>
        <p>Using the Ethereum mainnet to complete these challenges will use Ether which has real monetary value.</p>
        <br>
        <h3>Confidentiality/Anonymity:</h3>
        <p>This study is completely anonymous - No personally identifiable information is collected. As a result, once data is submittied it will not be possible to withdraw from the research.</p>
        <br>
        <h3>How can I take part?</h3>
        <p>Accept below to continue to the website.</p>
    </div>

    <div class="w3-light-grey w3-padding"style="margin: 25px 25px 25px 25px; font-size: 13px; max-height: 500px; overflow-y: scroll;">
        By clicking the button you also indicate that you are over 18, have read and understood the terms of this study and that you are taking part voluntarily.
        <br>
        <br>
        Statement to include on retention of research data:
        <br>
        <br>
        Researchers are obliged to retain research data for up to 10 years’ post-publication, however your anonymised research data may be retained indefinitely (e.g., so that researchers engage in open practice and other researchers can access their data to confirm the conclusions of published work). Researchers retain consent forms for as long as we continue to hold information about the data subject and for 10 years for published research (including Research Degree thesis).
        <br>
        <br>
        Privacy notice and legal basis for processing:
        <br>
        <br>
        Abertay University (the “University”/”we”) is committed to protecting the privacy and security of your personal data in accordance with the Data Protection Act 2018 (or any successor legislation) and (EU) 2016/679 the General Data Protection Regulation (“GDPR”) (and any other directly applicable EU regulation relating to privacy) (together “Data Protection Law”). This research has been approved by the Ethics Committee of Abertay University. The research team adhere to the Ethical guidelines of Abertay University and the principles of the General Data Protection Regulations (GDPR). The Abertay University Privacy Notice for Research Participants is available at https://www.abertay.ac.uk/legal/ . General information on Data Protection law is available from the Information Commissioner’s Office.
        <br>
        <br>
        For research involving living humans, the Data Controller adheres to, and collects, processes and handles/archives data in compliance with:
        <br>
        <br>
        Article 6 (1) e: processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller. Article 9 (2) j: processing is necessary for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes in accordance with Article 89(1) based on Union or Member State law which shall be proportionate to the aim pursued, respect the essence of the right to data protection and provide for suitable and specific measures to safeguard the fundamental rights and the interests of the data subject.
        <br>
        <br>
        Where applicable, this form is prepared in consultation with Article 13 of EU GDPR legislation, detailing the information to be provided where personal data are collected from the data subject.
        <br>
        <br>
        If you have any complaints/queries as a result of taking part in this research you may address them to the Researchers in the first instance (contact details above), researchethics@abertay.ac.uk, or to the University Data Protection Officer if necessary.
</div>

    <div style="margin-bottom: 150px;">
        <form action="/welcome" method="post">
            <p>To remind you, accept below to continue to the website.</p>
            <button type="submit" id="continueWebsite" class="w3-button w3-block w3-green" >Continue to Website</button>
        </form>
    </div>
</div>


